@using Microsoft.AspNet.Identity;
@model IEnumerable<IEP_Project.Models.Bid>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


    <h4>Auction</h4>
    <hr />


<div class="container">

        <div class="col-md-3 col-sm-3 col-xs-12">

            <div class="thumbnail">

                <img class="img-responsive" src="data:image;base64,@System.Convert.ToBase64String(  @ViewBag.auction.Image)" style="max-width:150px; max-height:150px" />
                <br />
                <h3> <a class="thumbnail" href="#" style="color:black;"> @ViewBag.auction.productName </a> </h3>

                <br />
                <b> Initial price:</b>
                @ViewBag.auction.initialPrice
              

                <br />
                <b>Price raise: </b>
                @ViewBag.auction.currentPriceRaise

                <br />
                <b> Auction status: </b>
                @ViewBag.auction.status
              
                <br />
                <b>Auction duration:</b>
                @ViewBag.auction.duration
             

                <br />
                <b>Last bidder: </b>
                @if (ViewBag.auction.lastBidder != null)
                {   @ViewBag.auction.lastBidder.Email}
                

                <br />
                <br />
                <br />
                @if (@ViewBag.auction.status == IEP_Project.Models.stateAuction.OPEN && HttpContext.Current.User.IsInRole("USER"))
                {
                    <button class="btn"><a class="thumbnail" href="@Url.Action("BidNow", "User", new { id =    @ViewBag.auction.ID })" style="color:black;">BID NOW</a> </button>
                }
                else
                {
                    <br />
                    <br />

                }
            </div>
        </div>
      

</div>

@{ var i = 0; }
<div class="container">
    @foreach (var item in Model) {
        if (i == 9) { break; }
        if (i % 4 == 0)
        {

            @Html.Raw("<div class='row'>")

        }
        i++;


        <div class="col-md-3 col-sm-3 col-xs-12">

            <div class="thumbnail">

             
                <b> Sent time:</b>
                @Html.DisplayFor(modelItem => item.sentTime)

                <br />
                <b>User: </b>
                @Html.DisplayFor(modelItem => item.user.Email)

                <br />
               
            </div>
        </div>
        if (i % 4 == 0)
        {

            @Html.Raw("</div>")

        }



    }


</div>
